.character__list {
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.dont-exist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__container--text {
  margin: 20px;
  color: $color-terciary;
  font-size: 32px;
  @include tablet {
    margin: 40px;
    color: $color-terciary;
    font-size: 40px;
  }
}

.empty-state-container {
  text-align: center;
  width: 200px;
  @include tablet {
    width: 250px;
  }
}

.empty-state {
  width: 100%;
}
