.character__card {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 340px;
  // background-color: transparent;
  background-color: transparentize(#000000, 0.3);
  margin: 32px 32px;
  border-radius: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.4);
  // text-shadow: 0.5px 0 0 $color-terciary, -1px 0 0 $color-secondary;
  color: $color-primary;

  &__img-container {
    border-radius: 100%;
    height: 200px;
    margin-bottom: 16px;

    & img {
      border-radius: 100%;
      height: 100%;
    }
  }
  &__name {
    padding-bottom: 12px;
  }
}

.character__card:hover {
  animation: floating-cards 2s infinite ease-in-out;
  @keyframes floating-cards {
    0% {
      box-shadow: 0 5px 15px 0px transparentize($color-secondary, 0.4);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 5px 15px 0px transparentize($color-secondary, 0.4);
      transform: translatey(-4px);
    }
    100% {
      box-shadow: 0 5px 15px 0px transparentize($color-secondary, 0.4);
      transform: translatey(0px);
    }
  }
}
