.form__input {
  width: 250px;
  padding: 12px 20px;
  background-color: $color-secondary;
  border: none;
  border-radius: 100px;

  &:focus {
    outline: none;
  }
  @include tablet {
    width: 350px;
    margin: 56px 0px 0px;
  }
}

.label-species {
  margin: 56px;
  color: white;
  font-weight: bold;
}

.select-species {
  margin-left: 16px;
  background-color: $color-secondary;
  border-radius: 6px;

  &:focus {
    outline: none;
  }
}

.sort__label {
  color: white;
  font-weight: bold;
  margin-right: 16px;
}

.sort__input {
  width: 24px;
  height: 24px;
}
