html {
  height: 100vh;
  // background: url('https://es.wallpaperengine.net/images/6b2cea90-0a3d-11ea-ae1e-998674379039.jpg')
  //   repeat;
  background: url('https://images.alphacoders.com/876/876589.jpg') repeat;
  background-color: black;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: $font-family;
  text-align: center;

  * {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    cursor: url('../images/cursor.png'), auto;
  }
}

.app__container--text {
  font-size: 40px;
  color: white;
}
